/*------------------------------------
 - COLOR primary-light-light
 ------------------------------------*/
 .alert-primary-light {
    color: #621515;
    background-color: #f3caca;
    border-color: #f0b9b9;
  }
  .alert-primary-light hr {
    border-top-color: #eba4a4;
  }
  .alert-primary-light .alert-link {
    color: #380c0c;
  }
  .badge-primary-light {
    color: #fff;
    background-color: #c72b2b;
  }
  .badge-primary-light[href]:hover, .badge-primary-light[href]:focus {
    color: #fff;
    background-color: #9d2121;
  }
  .bg-primary-light {
    background-color: #c72b2b !important;
  }
  a.bg-primary-light:hover, a.bg-primary-light:focus, button.bg-primary-light:hover, button.bg-primary-light:focus {
    background-color: #9d2121 !important;
  }
  .border-primary-light {
    border-color: #c72b2b !important;
  }
  .btn-primary-light {
    color: #fff;
    background-color: #c72b2b;
    border-color: #c72b2b;
  }
  .btn-primary-light:hover {
    color: #fff;
    background-color: #a92424;
    border-color: #9d2121;
  }
  .btn-primary-light:focus, .btn-primary-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 43, 43, 0.5);
  }
  .btn-primary-light.disabled, .btn-primary-light:disabled {
    color: #fff;
    background-color: #c72b2b;
    border-color: #c72b2b;
  }
  .btn-primary-light:not(:disabled):not(.disabled):active, .btn-primary-light:not(:disabled):not(.disabled).active, .show > .btn-primary-light.dropdown-toggle {
    color: #fff;
    background-color: #9d2121;
    border-color: #901f1f;
  }
  .btn-primary-light:not(:disabled):not(.disabled):active:focus, .btn-primary-light:not(:disabled):not(.disabled).active:focus, .show > .btn-primary-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 43, 43, 0.5);
  }
  .btn-outline-primary-light {
    color: #c72b2b;
    background-color: transparent;
    border-color: #c72b2b;
  }
  .btn-outline-primary-light:hover {
    color: #fff;
    background-color: #c72b2b;
    border-color: #c72b2b;
  }
  .btn-outline-primary-light:focus, .btn-outline-primary-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 43, 43, 0.5);
  }
  .btn-outline-primary-light.disabled, .btn-outline-primary-light:disabled {
    color: #c72b2b;
    background-color: transparent;
  }
  .btn-outline-primary-light:not(:disabled):not(.disabled):active, .btn-outline-primary-light:not(:disabled):not(.disabled).active, .show > .btn-outline-primary-light.dropdown-toggle {
    color: #fff;
    background-color: #c72b2b;
    border-color: #c72b2b;
  }
  .btn-outline-primary-light:not(:disabled):not(.disabled):active:focus, .btn-outline-primary-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(199, 43, 43, 0.5);
  }
  .list-group-item-primary-light {
    color: #621515;
    background-color: #f0b9b9;
  }
  .list-group-item-primary-light.list-group-item-action:hover, .list-group-item-primary-light.list-group-item-action:focus {
    color: #621515;
    background-color: #eba4a4;
  }
  .list-group-item-primary-light.list-group-item-action.active {
    color: #fff;
    background-color: #621515;
    border-color: #621515;
  }
  .table-primary-light, .table-primary-light > th, .table-primary-light > td {
    background-color: #f0b9b9;
  }
  .table-hover .table-primary-light:hover {
    background-color: #eba4a4;
  }
  .table-hover .table-primary-light:hover > td, .table-hover .table-primary-light:hover > th {
    background-color: #eba4a4;
  }
  .text-primary-light {
    color: #c72b2b !important;
  }
  a.text-primary-light:hover, a.text-primary-light:focus {
    color: #9d2121 !important;
  }
  